<header id="sidebar">
  <a href="{{ site.baseurl }}/"/>
    <img src="/images/giraffe.png" class="avatar" alt="Cartoon giraffe" />
  </a>

  <h1>
    <strong>I am Laurent</strong>, an R&amp;D Engineer <br /> working at <a href="http://www.activeeon.com" title="ActiveEon - Scale Beyond Limits">ActiveEon</a> in French Riviera
  </h1>

  <nav class="site-nav vspace">
    <a href="{{ site.baseurl }}/" class="navlink">Blog</a>
    <span style="font-size: 10px;">&nbsp;&bull;&nbsp;</span>
    <a href="{{ site.baseurl }}/archives" class="navlink">Archives</a>
    <span style="font-size: 10px;">&nbsp;&bull;&nbsp;</span>
    <a href="{{ site.baseurl }}/about" class="navlink">About</a>
  </nav>

  <ul class="icons vspace">
    <li><a href="http://linkedin.pellegrino.link" class="icon fa-linkedin" title="Linkedin profile"><span class="label">Linkedin</span></a></li>
    <li><a href="https://github.com/lpellegr" class="icon fa-github" title="Github profile"><span class="label">Github</span></a></li>
    <li><a href="http://stackoverflow.com/users/269447/laurent" class="icon fa-stack-overflow" title="Stackoverflow profile"><span class="label">Stack Overflow</span></a></li>
    <li><a href="http://www.google.com/recaptcha/mailhide/d?k=01aQ9xMzKtmiI_QFsoA7_5cw==&amp;c=tRqec_6YI_OyihG21CXPRw7EZ3YIpLSQjW_ZCODLh0s=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501aQ9xMzKtmiI_QFsoA7_5cw\75\75\46c\75tRqec_6YI_OyihG21CXPRw7EZ3YIpLSQjW_ZCODLh0s\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
  </ul>
</header>
