<header id="sidebar">
  <a href="{{ site.baseurl }}/"/>
    <!--<img src="/images/giraffe.png" class="avatar" alt="Cartoon giraffe" />-->
  </a>

  <h1>
    <strong>I am Mauricio</strong><br />and these are my two cents</h1> 

  <nav class="site-nav vspace">
    <a href="{{ site.baseurl }}/" class="navlink">Blog</a>
    <span style="font-size: 10px;">&nbsp;&bull;&nbsp;</span>
    <a href="{{ site.baseurl }}/archives" class="navlink">Archives</a>
    <span style="font-size: 10px;">&nbsp;&bull;&nbsp;</span>
    <a href="{{ site.baseurl }}/about" class="navlink">About</a>
  </nav>

  <ul class="icons vspace">
    <li><a href="https://www.linkedin.com/in/mauriciojost/" class="icon fa-linkedin" title="Linkedin profile"><span class="label">Linkedin</span></a></li>
    <li><a href="https://github.com/mauriciojost" class="icon fa-github" title="Github profile"><span class="label">Github</span></a></li>
    <li><a href="http://stackoverflow.com/users/1554927/mauriciojost" class="icon fa-stack-overflow" title="Stackoverflow profile"><span class="label">Stack Overflow</span></a></li>
  </ul>
</header>
