body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    -webkit-text-size-adjust: 100%;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

.avatar {
    border-radius: 100%;
    border: 0;
    margin-bottom: 1em;
    width: 8em;
}

.icon {
    color: inherit;
    text-decoration: none;
    border-bottom: none;
    position: relative;
    font-size: 1.9em;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.icons li .icon:before {
    font-size: 1em;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

.vspace {
    margin-top: 2em;
}

/**
 * Links
 */
a {
    -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    border-bottom: none 1px;
    color: #a07010;
    text-decoration: none;
}

a:hover {
    border-bottom-color: transparent;
    color: #f0a040 !important;
    text-decoration: none;
}

a.navlink {
    font-size:22px;
    border-bottom: 0;
    text-decoration: none;
}

a.navlink:hover  {
    -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    color: #f0a040 !important;
}


.post-meta {
     color: #aaa;
     font-size: 0.9em;
     text-transform: uppercase;
}

.post-title {
    color: #333;
    font-size: 1.8em;
    margin-top: 8px;
    margin-bottom: 10px;
}

.post-content {
    text-align: justify;
}

#sidebar h1 a {
    border-bottom: dotted 1px;
}

#archives article {
  position: relative;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC') bottom left repeat-x;
  line-height: 56px;
}

#archives article:last-child {
  background:none
}

#archives h1 {
  color:#333;
  margin: 0;
  padding: 0;
}

#archives h2, #archives time .month, #archives time .day {
  color: #aaa;
  display: inline-block
}

#archives time .month {
  text-transform:uppercase
}

#archives footer {
  clear: both;
}

@media only screen and (min-width: 940px){
  #archives article {
    margin-left:5em; padding-left:4.5em;
  }
  #archives h2 {
    line-height:56px;
    display:inline-block;
    float:left;
    font-weight:normal;
    padding-top:0em;
    margin: 0;
    padding: 0;
  }
  #archives time {
    position:absolute;
    left:0
  }
}

.post-read-more {
    background-color: #eaeaea;
    padding: 8px 16px;
    color:#6e6e6e;
    text-decoration:none;
}

.post-read-more:hover, .post-read-more:active {
    background-color: #49bf9d;
    color: white !important;
    padding: 8px 16px;
    text-decoration:none;
}

hr {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC');
    border: 0;
    height: 1px;
    margin: 2em 0;
}
