<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
	<div id="container">
		<div id="row">
			{% include header.html %}
			<section id="page-content">
				<div id="content">
					{{ content }}
				</div>
			</section>
		</div>
	</div>
	<script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</body>
</html>
