---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div itemprop="keywords">
    Tags:
    {% for tag in page.tags %}
      <a href="http://www.google.com/search?q={{ tag}}&btnI=I%27m%20feeling%20lucky">{{ tag}}</a>{% if page.tags.last != tag %}, {% endif %}
    {% endfor %}
  </div>
</article>




{% include comments.html %}
